body {
  background-image: url("../images/TrainBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.container, .jumbotron {
  opacity: 0.97;
}
h1, h3 {
  text-align: left;
  letter-spacing: 1px;
}
.table th, .table td {
  border-bottom: 0px;
  border-top: 0px;
}
.table thead th {
  border-bottom: 0px;
}
.card {
  border: 0px solid white;
}
footer {
  height: 40px;
}
.footer {
  margin: auto;
  text-align: center;
  color: white;
}
.card-header, label {
  font-weight: bold;
}
